<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Gmail SMTP credentials for transactional emails.
         Use an App Password (not your regular Gmail password).
         Generate one at: https://myaccount.google.com/apppasswords -->
    <add key="Email.From"        value="rizaannamay5@gmail.com" />
    <add key="Email.Password"    value="tmcy wmxw ngkf tjid" />
    <add key="Email.DisplayName" value="Campus Announcement Portal" />
  </appSettings>
  <system.web>
    <!-- Allow uploads up to 100MB (102400 KB) -->
    <httpRuntime targetFramework="4.6" maxRequestLength="102400" executionTimeout="300" />
    <compilation debug="true" targetFramework="4.6" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- Allow requests up to 100MB -->
        <requestLimits maxAllowedContentLength="104857600" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
