<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="CampusConnectDB"
         connectionString="Data Source=DESKTOP-O39NPLV\SQLEXPRESS1;Initial Catalog=CAPdb;User ID=CampusAnnouncementPortal;Password=campus123;TrustServerCertificate=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2" maxRequestLength="10240" executionTimeout="300"/>
    <sessionState mode="InProc" timeout="60" cookieless="false" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="AnnouncementHandler" verb="*" path="AnnouncementHandler.ashx"
           type="AMAY_QUEVEDO_ZAMORA_PROJECT.AnnouncementHandler" resourceType="Unspecified" />
      <add name="LikeHandler" verb="*" path="LikeHandler.ashx"
           type="AMAY_QUEVEDO_ZAMORA_PROJECT.LikeHandler" resourceType="Unspecified" />
      <add name="CommentHandler" verb="*" path="CommentHandler.ashx"
           type="AMAY_QUEVEDO_ZAMORA_PROJECT.CommentHandler" resourceType="Unspecified" />
      <add name="NotificationHandler" verb="*" path="NotificationHandler.ashx"
           type="AMAY_QUEVEDO_ZAMORA_PROJECT.NotificationHandler" resourceType="Unspecified" />
      <add name="UserPinHandler" verb="*" path="UserPinHandler.ashx"
           type="AMAY_QUEVEDO_ZAMORA_PROJECT.UserPinHandler" resourceType="Unspecified" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="10485760" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>