<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <!-- Allow uploads up to 100MB (102400 KB) -->
    <httpRuntime targetFramework="4.6" maxRequestLength="102400" executionTimeout="300" />
    <compilation debug="true" targetFramework="4.6" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- Allow requests up to 100MB -->
        <requestLimits maxAllowedContentLength="104857600" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
